* {
  box-sizing: border-box;
}

:root {
  --color1: hsl(31, 77%, 52%);
  --color2: hsl(184, 100%, 22%);
  --color3: hsl(179, 100%, 13%);
  --color-p: hsla(0, 0%, 100%, 0.75);
  --color-bg-h: hsl(0, 0%, 95%);
}

body {
    
}

section:first-child {
    background-color: var(--color1);
}
section:nth-child(2) {
    background-color: var(--color2);
}
section:last-child {
    background-color: var(--color3);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
