* {
  box-sizing: border-box;
}

:root {
  --color1: hsl(31, 77%, 52%);
  --color2: hsl(184, 100%, 22%);
  --color3: hsl(179, 100%, 13%);
  --color-p: hsla(0, 0%, 100%, 0.75);
  --color-bg-h: hsl(0, 0%, 95%);
  --width-col: 300px;
  --height-col: 500px;
  --padding-col: 45px;
}

body {
  background-color: var(--color-bg-h);
  font-size: calc(1rem * 15 / 16);
  font-family: "Lexend Deca", sans-serif;
}

h1,
h2 {
  color: var(--color-bg-h);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3em;
}

p {
  color: var(--color-p);
}

button {
  background-color: var(--color-bg-h);
  font: 16px "Lexend Deca", sans-serif;
  width: 50%;
  height: calc(var(--width-col) / 6);
  cursor: pointer;
  border: none;
  position: absolute;
  left: var(--padding-col);
  bottom: var(--padding-col);
  border-radius: calc(var(--width-col) / 6);
  -webkit-border-radius: calc(var(--width-col) / 6);
  -moz-border-radius: calc(var(--width-col) / 6);
  -ms-border-radius: calc(var(--width-col) / 6);
  -o-border-radius: calc(var(--width-col) / 6);
}
section:first-child button {
  color: var(--color1);
}
section:nth-child(2) button {
  color: var(--color2);
}
section:last-child button {
  color: var(--color3);
}

section:first-child {
  background-color: var(--color1);
}
section:nth-child(2) {
  background-color: var(--color2);
}
section:last-child {
  background-color: var(--color3);
}

/* start flex */
main {
  display: flex;
  flex-flow: row wrap;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
section {
  width: var(--width-col);
  height: var(--height-col);
  padding: var(--padding-col);
  position: relative;
}
/* end flex */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
